{% extends "HubSiteBundle:Site:base.html.twig" %}

{% if newsItem.id == '' %}
    {% set internalTitle = 'Create Internal News Item' %}
{% else %}
    {% set internalTitle = 'Edit Internal News Item' %}
{% endif %}

{% block pageTitle %}{{ internalTitle }}{% endblock %}

{% block content %}
    <h2>{{ internalTitle }}</h2>
    {% if newsItem.id == '' %}
        <a href='{{ path('HubNewsBundle_main_index') }}'
            title='Cancel and go back to the news page'>Back to the News</a>
    {% else %}
        <a href='{{ path('HubNewsBundle_internalnewsitem_view', {'newsItemId': newsItem.id, 
            'newsItemSubject': newsItem.subject | urlSlugify }) }}'
            title='Cancel and view the news item'>Back to the News Item</a>
    {% endif %}
    <form action="
        {% if newsItem.id == '' %}
            {{ path('HubNewsBundle_internalnewsitem_new') }}
        {% else %}
            {{ path('HubNewsBundle_internalnewsitem_edit', {'newsItemId': newsItem.id}) }}
        {% endif %}
    " method="post">

        {{ form_errors(form) }}

        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" name='Submit' value='Submit'/>
    </form>
{% endblock %}