{% extends "HubSiteBundle:Site:base.html.twig" %}

{% if item.id == '' %}
    {% set internalTitle = 'Create Item' %}
{% else %}
    {% set internalTitle = 'Edit Item' %}
{% endif %}

{% block pageTitle %}{{ internalTitle }}{% endblock %}

{% block content %}
    <h2>{{ internalTitle }}</h2>
    {% if item.id == '' %}
        <a href='{{ path('BrowserCreativeCrudBundle_CrudItem_index') }}'
            title='Cancel and go back to the news page'>Back to the list</a>
    {% else %}
        <a href='{{ path('BrowserCreativeCrudBundle_CrudItem_view', {'itemId': item.id, 
            'itemSubject': item.subject | urlSlugify }) }}'
            title='Cancel and view the news item'>Back to the item</a>
    {% endif %}
    <form action="
        {% if item.id == '' %}
            {{ path('BrowserCreativeCrudBundle_CrudItem_new') }}
        {% else %}
            {{ path('BrowserCreativeCrudBundle_CrudItem_edit', {'itemId': item.id}) }}
        {% endif %}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {% if item.imagePath != '' %}
            Current image:<br />
            <img src='{{ getFileUploadWebPath(item.imagePath) | apply_filter('profile_edit') }}' alt="Image"/>
        {% endif %}

        {{ form_label(form.startDate, 'Start Date') }}
        {{ form_errors(form.startDate) }}
        {{ form_widget(form.startDate) }}

        {{ form_label(form.endDate, 'End Date') }}
        {{ form_errors(form.endDate) }}
        {{ form_widget(form.endDate) }}

        {{ form_row(form.imageFile) }}

        {{ form_rest(form) }}

        <input type="submit" name='Submit' value='Submit'/>
    </form>
{% endblock %}