{% extends "HubSiteBundle:Site:base.html.twig" %}

{% set internalTitle = item.subject %}

{% block pageTitle %}{{ internalTitle }}{% endblock %}

{% block content %}
    <a href="{{ path('BrowserCreativeCrudBundle_CrudItem_index') }}">Back to the list</a>
    <h2>{{ internalTitle }}</h2>
    {{ item.body | raw }}
    <ul>
        <li>
            Current image:
            {% if item.imagePath != '' %}
                <img src='{{ getFileUploadWebPath(item.imagePath) | apply_filter('profile_edit') }}' alt="Image"/> <br />
            {% else %}
                None
            {% endif %}
        </li>
        <li>
            Current attachment:
            {% if item.attachmentPath != '' %}
                <a href='{{ getFileUploadWebPath(item.attachmentPath) }}' title="Attachment">Attachment</a> <br />
            {% else %}
                None
            {% endif %}
        </li>
    </ul>

    {% if app.security.isGranted('ROLE_ADMIN') %}
        <a href="{{ path('BrowserCreativeCrudBundle_CrudItem_edit', {'itemId': item.id}) }}">Edit</a>
        <a onclick='return confirm("Are you sure?")?  true : false;'
            href='{{ path('BrowserCreativeCrudBundle_CrudItem_delete', {
                'itemId' : item.id, 
                'returnRoute': 'BrowserCreativeCrudBundle_CrudItem_index'
            }) }}' title='Delete this item'>
            Delete
        </a>
    {% endif %}
{% endblock %}